.lkt-box {
    --lkt-box--background: transparent;
    --lkt-box--border-color: #ddd;
    --lkt-box--border-radius: 5px;
    --lkt-box--border-style: solid;
    --lkt-box--border-width: 1px;
    --lkt-box--box-shadow: none;
    --lkt-box--color: #444444;
    --lkt-box--display: inline-flex;
    --lkt-box--flex-direction: column;
    --lkt-box--font-family: system-ui, Helvetica;
    --lkt-box--font-size: 16px;
    --lkt-box--font-weight: 300;
    --lkt-box--gap: 5px;
    --lkt-box--line-height: 1.425;
    --lkt-box--min-width: 100%;
    --lkt-box--min-height: 35px;
    --lkt-box--padding: 15px;
    --lkt-box--text-align: left;
    --lkt-box--transition: all linear 100ms;
    
    /** Element: Header */
    --lkt-box--header--align-items: center;
    --lkt-box--header--background: transparent;
    --lkt-box--header--border-radius: 5px;
    --lkt-box--header--color: #444444;
    --lkt-box--header--display: flex;
    --lkt-box--header--font-weight: 400;
    --lkt-box--header--gap: 15px;
    --lkt-box--header--justify-content: flex-start;
    --lkt-box--header--padding: 15px;

    /** Element: Content */
    --lkt-box--content--background: transparent;
    --lkt-box--content--border-color: #444444;
    --lkt-box--content--border-radius: 5px;
    --lkt-box--content--border-style: solid;
    --lkt-box--content--border-width: 0;
    --lkt-box--content--flex-direction: column;
    --lkt-box--content--padding: 15px;

    /** Element: Title */
    --lkt-box--title--align-items: center;
    --lkt-box--title--display: flex;
    --lkt-box--title--gap: 5px;
}